extends layout

block content
  h1(class='name') NetSquare 
  form
    div
      label(class='qbox') First question: What is your name?
    div 
      input(type="text")
    div
      br
      label(class='qbox') Second question: What is your age?
    div
      input(type="text")
    
    div
      br
      label(class='qbox') Third question: What is your emotion right now?
    div
      input(type="text")
      
    div
      br
      label(class='qbox') Fourth question: Do you wear glasses?
    div
      input(type="text")
    
    div
      br
      label(class='qbox') Fifth question: Are you ginger?
    div
      input(type="text")
    div
    div
      br
      br
      input(id="done", type="submit")