doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='/synaptic/synaptic.min.js')
    script(type='text/javascript', src='/javascripts/network.js')
    
    script.
      function draw() {
        var canvas = document.getElementById('canvas');
        console.log(canvas.getContext);
        if (canvas.getContext) {
          var ctx = canvas.getContext('2d');
          for (i = 0; i < 20; i++) { 
            ctx.fillRect(Math.random()*150, Math.random()*150, 10, 10);
          }
        }
      }
  body(onload="draw();")
    header
      nav
        ul
          li 
            a(href="/") Home
          li 
            a(href="/about") About
          li 
            a(href="/launch") Launch
    section#wrapper
        block content
        footer 
          section.css-table
            section.four-column
              section.cell
                p Need a prettier website!
