doctype
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Julius+Sans+One")
    <link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">

    script(type='text/javascript', src='/synaptic/synaptic.min.js')
    script(type='text/javascript', src='/javascripts/network.js')
    script.
      var foodArray = [350, 175];

      var nameinput;
      var ageinput;
      var optinput;
      var glinput;
      var ginginput;
      
      var Coords = [];
      for(u=0; u < 200; u++){ // 10 change to users
      Coords.push(0); //x Coord
      Coords.push(0); //y coord
      if(ageinput>40){
        Coords.push(3);
      } else if (ageinput>25){
        Coords.push(4);
      } else if (ageinput>13){
        Coords.push(5);
      } else{
        Coords.push(6);
      }
      }
      console.log(Coords);
      function draw() {
        var canvas = document.getElementById('canvas');
        if (canvas.getContext) {
          var ctx = canvas.getContext('2d');
          for (i = 0; i < Coords.length; i+=3) {
            Coords[i]=Math.random()*690;
            Coords[i+1]=Math.random()*340;
            ctx.fillRect(Coords[i], Coords[i+1], 5, 5);
          }
        }
      }
      function move(){
        var canvas = document.getElementById('canvas');
        var ctx = canvas.getContext('2d');
        console.log("I MOVED");
        ctx.clearRect(0, 0, 700, 350);
        ctx.fillStyle="#F66808";
        ctx.fillRect(350, 175, 15,15);
        ctx.fillStyle="#07A507";
        for (i = 0; i < Coords.length; i+=3) { 
            adjArr = getNextDir(Coords[i], Coords[i+1], foodArray);
            Coords[i]=Coords[i]+Coords[i+2]*adjArr[1]-Coords[i+2]*adjArr[3];
            Coords[i+1]=Coords[i+1]+Coords[i+2]*adjArr[2]-Coords[i+2]*adjArr[0];
            ctx.fillRect(Coords[i], Coords[i+1], 5, 5);
        }
      }
      function formChanged(){
        nameinput = document.getElementsByName("name-input")[0].value;
        ageinput = document.getElementsByName("age-input")[0].value;
        optinput = document.getElementsByName("opt-input")[0].value;
        glinput = document.getElementsByName("gl-input")[0].value;
        ginginput = document.getElementsByName("ging-input")[0].value;
      }
      function write(){

      }
  body(onload="draw();")
    header
    section#wrapper
        block content
        footer 
          section.css-table
            section.four-column
              section.cell
